*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
:root{
    --cor1: #A45A49;
    --cor2:#C7BAB3;
}
body{
    background-color: #1F1517;
}
header{
    display: flex;
    gap: 30px;
}
main{
    margin: auto;
}
#header{
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    padding: 24px;
    margin: auto;
    & nav{
        display: flex;
        & ul{
            display: flex;
            gap: 24px;
            & li{
                & a{
                    color: #FFF2E7;
                }
            }
        }
    }
}
#imagens{
    display: flex;
    gap: 16px;
    height: 386px;
    overflow: hidden;
    & ul{
        & li{
        margin-bottom: 5px;
        
        }
    }
    & ul:nth-child(1){
        margin-top: -85px;
    }
    & ul:nth-child(2){
        margin-top: -95px;
    }
    & ul:nth-child(3){
        margin-top: -60px;
    }
    & ul:nth-child(4){
        margin-top: -95px;
    }
}
#head{
    height: 386px;
    margin-bottom: 64px;
    background-color: #181012;
    display: flex;
    justify-content: center;
    & header{
        display: flex;
        gap: 135px;
    }
}
#novidade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 386px; 
    width: 480px; 
    position: relative;
    & h1{
        font-size: 56px;
    }
    & h2{
        font-size: 18px;
        color: var(--cor2);
        & strong{
            color: #FFF2E7;
        }
    }
}
.brown{
    color: var(--cor1);
    margin: 10px 0px;
}
.linha{
    width: 240px;
    height: 2px;
    background-color: var(--cor1);
    margin: 18px 0px;
}
.down{
    position: absolute;
    top: 100%;
    left: 0px;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    background-color: var(--cor1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    & SVG{
        width: 24px;
        height: 24px;
    }
    &:hover{
        width: 58px;
        height: 58px;
        transition: .3s;
        cursor: pointer;
    }
}
#receitas{
    margin: auto;
    & h2{
        font-size: 32px;
    }
}
.text{
    color: var(--cor2);
}
.comentarios{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.comentario{
    width: 560px;
    background-color: #241A1C;
    padding: 20px;
    border-radius: 10px;
}
.nota{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}
#alta{
    color: #E7A80E;
}
.coment{
    margin: 24px 0px;
}
.img{
    display: flex;
    gap: 8px;
    align-items: center;
}